html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: rgb(241, 241, 241);
}


.lgn {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.lgnk {
    width: 400px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 10px;
}
.profsd {
    width: 100%;
    height: fit-content;
    /* background-color: red; */
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profs {
    width: 80px;
    height: 80px;
    background-color: rgb(235, 182, 8);
    background-color: rgb(90, 18, 18);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profsi {
    width: 60%;
    height: 60%;
    margin-top: -5px;
}
.h2c {
    text-align: center;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    color: rgb(90, 18, 18);
    margin-bottom: 20px;
}
.inpd {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 3px; */
    margin-top: 10px;
}
.inpcb {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 3px; */
    margin-top: 10px;
}
.namei {
    width: 70%;
    height: 100%;
    font-size: 16px;
    padding: 0px 10px;
    border: 0px;
    outline: 0px;
    background-color: #cccccc;
}
.namei::placeholder {
    color: #474747;
}

.pas {
    width: 75%;
    height: 100%;
    /* padding: 0px 10px; */
    background-color: #cccccc;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
}
.ccb {
    width: 75%;
    height: 100%;
    /* padding: 0px 10px; */
    /* background-color: #cccccc; */
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
}
.ccb input {
    width: 15px;
    height: 15px;
}
.ccb p {
    font-size: 12px;
    margin-top: 13px;
}
.pasi {
    width: 80%;
    height: 100%;
    font-size: 16px;
    padding: 0px 10px;
    border: 0px;
    outline: 0px;
    background-color: #cccccc;
}
.passh {
    width: 20%;
    height: 100%;
    /* background-color: #ff0000; */
    background-color: #cccccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.matas {
    width: fit-content;
    height: 58%;
} 
.matas2 {
    width: fit-content;
    height: 67%;
} 
.pasi::placeholder {
    color: #474747;
}

.lab {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-top: 10px;
}
.laba {
    width: 74.5%;
    height: auto;
    text-align: start;
}
.laba label {
    font-size: 18px;
    color: black;
    text-align: start;
}

.rc {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.btnl {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -5px;
}
.btnla {
    width: 70%;
    height: 100%;
    padding: 0px 10px;
    /* background-color: rgb(235, 182, 8); */
    background-color: rgb(90, 18, 18);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 0px;
    font-size: 17px;
    font-family: sans-serif;

    /* filter: brightness(40%);
    cursor: not-allowed; */
}
.salahl {
    font-size: 13px;
    color: red;
    margin-top: 20px;
}


.mo {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    animation: 1s moa ease;
    opacity: 1;
    z-index: 100;
}
.ho {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    animation: 1s hoa ease;
    opacity: 0;
    z-index: 100;
}

@keyframes moa {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes hoa {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.asn {
    margin-top: -30px;
}
.asna {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}
.asna2 {
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    margin-bottom: 0px;
    animation: 2s in ease;
    transform: translateY(0px);
}
.asna2o {
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    margin-bottom: 0px;
    animation: 2s on ease;
    transform: translateY(100px);
    opacity: 0;
}
@keyframes in {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    60%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes iki {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes ika {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes on {
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(100px);
        opacity: 0;
    }
}
@keyframes oki {
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    60%{
        transform: translateX(0px);
        opacity: 1;
    }
    100%{
        transform: translateX(100px);
        opacity: 0;
    }
}
@keyframes oka {
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    60%{
        transform: translateX(0px);
        opacity: 1;
    }
    100%{
        transform: translateX(-100px);
        opacity: 0;
    }
}


.asna2-c1 {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
    scale: 0.8;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}


.asn-l1 {
    width: 90px;
    height: 100px;
    margin-right: 0px;
    animation: 1s ika ease;
}
.asn-l2 {
    width: 200px;
    height: 50px;
    margin-left: 5px;
    animation: 1s iki ease;
}

.asn-l1o {
    width: 90px;
    height: 100px;
    margin-right: 0px;
    animation: 1s oka ease;
    transform: translateX(-100px);
    opacity: 0;
}
.asn-l2o {
    width: 200px;
    height: 50px;
    margin-left: 5px;
    animation: 1s oki ease;
    transform: translateX(100px);
    opacity: 0;
}
textarea {
    width: 90%;
    height: 500px;
    resize: none;
    overflow: auto;
    font-size: 20px;
}
.pick {
    padding: 5px 20px;
    margin-bottom: 5px;
}
.jdlin {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}
.gam {
    width: 80vh;
    height: fit-content;
    object-fit: cover;
    border: 2px solid red;
}
.vid {
    width: 80vh;
    height: auto;
}
.vids {
    padding: 2px 4px;
}
.body-bodyp {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.body-body {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}
.area-body-body {
    width: 96%;
    height: auto;
}
.dataw {
    width: 100%;
}
.dataw-preview {
    width: 100%;
    height: 100px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.dataw-preview img {
    width: fit-content;
    height: 70%;
    margin-left: 20px;
    border: 2px solid red;
}
.dataw-preview h2 {
    font-size: 30px;
    color: white;
    margin-left: 15px;
}

.dataw-edit {
    width: 96%;
    height: auto;
    margin-left: 4%;
    /* background-color: black; */
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    margin-bottom: 30px;
}
.dataw-edit label { 
    font-size: 18px;
}
.dataw-edit labels {
    font-size: 16px;
    margin-bottom: 5px;
}
.dataw-edit button { 
    width: fit-content;
    padding: 8px 25px;
    height: fit-content;
    font-size: 20px;
}
.dataw-edit img { 
    width: 40%;
    height: fit-content;
    border: 2px solid red;
    color: white;
}
.dataw-edit input { 
    width: 70%;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    border: 0px;
    outline: 0px;
    background: transparent;
    border-bottom: 2px solid rgb(0, 0, 0);
}
/* .dataw-edit input[type="text"]:not(:focus) {
    border: 2px solid transparent;
    border-bottom: 2px solid black;
} */

.wti {
    margin: 0px;
    padding: 0px;
    width: 400px;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    border: 0px;
    outline: 0px;
    background: transparent;
    border-bottom: 2px solid white;
}
.wts { 
    margin: 0px;
    padding: 0px;
    width: fit-content;
    padding: 8px 20px;
    height: fit-content;
    font-size: 18px;
    color: black;
}
.wtl {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: white;
}
.wtk {
    color: white;
    background-color: black;
    padding: 30px 40px;
    border-radius: 20px;
    width: fit-content;
}
.wtkp {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.child-dataw-edit {
    width: 100%;
    margin-top: 20px;
}
.area-dataw-edit {
    width: 100%;
}


.area-top2-body {
    width: 96%;
}
.link-top2-body {
    width: fit-content;
    height: auto;
    /* background-color: red; */
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -15px;
}
.child-link-top2-body {
    width: auto;
    padding: 0px 20px;
    height: 50px;
    background-color: transparent;
    /* border-bottom: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.child-link-top2-body:hover {
    background-color: #f0f5ff;
}
.area-child-link-top2-body {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #0b57d0;
}
.area-child-link-top2-body h3 {
    font-size: 20px;
    color: #0b57d0;
    margin: 0px;
    padding: 0px;
}
.area-child-link-top2-body {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.area-child-link-top2-body2 h3 {
    font-size: 20px;
    color: #041e49;
    margin: 0px;
    padding: 0px;
}
.full {
    width: 100%;
    height: 100vh;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav {
    width: 6%;
    height: 100%;
    background-color: #f3f7fd;
    border-right: 2px solid #e1e7f0;
    display: block;
}
.nav2 {
    width: 20%;
    height: 100%;
    background-color: #f3f7fd;
    border-right: 2px solid #e1e7f0;
    display: block;
}
.area-nav {
    display: block;
}
.body {
    width: 94%;
    height: 100%;
    background-color: #fafbff;
    overflow-x: hidden;
    overflow-y: auto;
}
.body2 {
    width: 80%;
    height: 100%;
    background-color: #fafbff;
    overflow-x: hidden;
    overflow-y: auto;
}
.top-body {
    width: 100%;
    height: auto;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0px;
}
.top2-body {
    width: 100%;
    height: auto;
    /* background-color: antiquewhite; */
    text-align: start;
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.jdl-top2-body h1 {
    font-size: 40px;
    color: black;
    margin: 0px;
    padding: 0px;
}
.jdl-top2-body2 h1 {
    font-size: 40px;
    color: black;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
.area-top-body {
    width: 96%;
    height: auto;
    /* background-color: rgb(255, 145, 0); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}
.one-top-body h2 {
    font-size: 20px;
    color: #041e49;
    margin: 0px;
    padding: 0px;
}
.two-top-body {
    display: flex;
}
.lingk2 {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5px;
}
.lingk {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    margin-left: 10px;
}
.lingk:hover, .lingk2:hover {
    background-color: #c3c5ca;
}
.icn {
    margin: 0px;
    padding: 0px;
    width: 60%;
    height: 60%;
    /* border-radius: 50%; */
    /* background-color: black; */
}
.icn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prof {
    margin: 0px;
    padding: 0px;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.prof img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 4px;
    scale: 1.3;
}
.top {
    width: 100%;
    height: auto;
    margin-top: 10px;
    /* background-color: blueviolet; */
    padding: 0px 0px 20px 0px;
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: end;
}
.top-area2 {
    width: 90%;
    height: auto;
    margin-top: 10px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: start;
    align-items: end;
    text-align: end;
}
.top-area2 .r {
    width: 15%;
    height: fit-content;
    cursor: pointer;
    margin-right: 3px;
}
.top-area2 .sublogo {
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: end;
    text-align: end;
}
.top-area2 .eplay {
    width: 100%;
    height: fit-content;
    cursor: pointer;
}
.top-area2 .sublogo {
    display: flex;
}
.top-area .sublogo {
    display: none;
}
.top-area {
    width: 90%;
    height: auto;
    margin-top: 10px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.top-area .r {
    width: 40%;
    height: fit-content;
    cursor: pointer;
    margin-right: 3px;
}
.garis {
    width: 100%;
    height: 2px;
    background-color: #e1e7f0;
}
.garis2 {
    width: 100%;
    height: 2px;
    background-color: #e1e7f0;
}
.middle {
    width: 100%;
    height: auto;
    /* background-color: aquamarine; */
    padding: 15px 0px 15px 0px;
    display: block;
}
.middle2 {
    width: 100%;
    height: auto;
    /* background-color: aquamarine; */
    padding: 15px 0px 15px 0px;
    display: block;
}
.middle2 .buka {
    display: block;
}
.middle .buka {
    display: none;
}
.middle .tutup {
    display: block;
}
.middle2 .tutup {
    display: none;
}
.child-middle {
    width: 100%;
    height: 40px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.area-child-middle {
    width: 90%;
    height: 100%;
    background-color: transparent;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.area-child-middle2 {
    width: 90%;
    height: 100%;
    background-color: #a8c7fa;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.area-child-middle:hover {
    background-color: #dce2f0;
}
.img-child-middle {
    width: 20%;
    height: 100%;
    /* background-color: rgb(30, 255, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.area-source-img-child-middle {
    width: 100%;
    height: 100%;
    /* background-color: rgb(30, 255, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.source-img-child-middle {
    height: 45%;
    width: fit-content;
}
.text-child-middle {
    width: 70%;
    height: 100%;
    /* background-color: rgb(255, 123, 0); */
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
}
.text-child-middle h2 {
    font-size: 16px;
}
.biasaimg {
    width: 25%;
    height: fit-content;
    cursor: pointer;
    padding: 10px 22px;
    background-color: transparent;
    border-radius: 20px;
}
.biasaimg:hover {
    background-color: #d7e1f1;
}
.pilihimg {
    width: 25%;
    height: fit-content;
    cursor: pointer;
    padding: 10px 22px;
    border-radius: 20px;
    background-color: #a2c1f5;
}
.pilihimg:hover {
    background-color: #a2c1f5;
}
.space {
    width: 100%;
    height: 15px;
}
.bottom {
    width: 100%;
    height: auto;
    /* background-color: aquamarine; */
    padding: 15px 0px 15px 0px;
    display: block;
}
.oc img {
    width: fit-content;
    height: 100%;
    cursor: pointer;
    /* margin-right: 20px; */
}
.oc2 img {
    width: fit-content;
    height: 100%;
    cursor: pointer;
    margin-right: 20px;
    rotate: 180deg;
}
.oc2 {
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}
.oc {
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.f_g {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.kc_f_g {
    width: 400px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.kc_ic_f_g {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom, #b1b1b1, #6b6b6b, #161616);
}
.kc_ic_f_g img {
    width: 80%;
    height: 90%;
    object-fit: contain;
    margin-bottom: 10px;
}
.kc_jsc_f_g {
    width: 100%;
    height: auto;
    padding: 10px 0px 20px 0px;
    border-top: 2px solid rgb(255, 255, 255);
    background-color: #000000;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kc_ajsc_f_g {
    width: 93%;
}
.kc_jsc_f_g h2 {
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    color: white;
    margin-top: 7px;
}
.kc_jsc_f_g h4 {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    color: rgb(207, 207, 207);
}

.notifmenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 80vh;
    background-color: black;
    margin-top: 60px;
    margin-right: 80px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 6;
}
.top-notif {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(68, 68, 68);
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
}
.top-notif h2 {
    font-size: 18px;
    color: white;
    margin-left: 20px;
}
.body-notif {
    width: 100%;
    height: 472.19px;
    overflow-y: auto;
    overflow-x: hidden;
}
.cnotif {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cnotif:hover {
    background-color: rgb(49, 49, 49);
    cursor: pointer;
}
.cnotifa {
    width: 90%;
    height: auto;
    color: white;
    padding: 10px 0px;
}
.cnotifa h2 {
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}
.cnotifa p {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}

.profm {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: auto;
    background-color: black;
    margin-top: 60px;
    margin-right: 40px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 7;
}
.top-profm {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(68, 68, 68);
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
}
.top-profm:hover {
    background-color: rgb(49, 49, 49);
    cursor: pointer;
}
.pit {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.imgd {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
}
.imgd img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 4px;
    scale: 1.3;
}
.textd {
    margin-left: 10px;
}
.textd h2 {
    font-size: 18px;
    color: white;
    margin: 0px;
    padding: 0px;
}
.textd h4 {
    font-size: 13px;
    color: white;
    margin: 0px;
    padding: 0px;
}


.body-profm {
    padding: 0px 0px 15px 0px;
}
.bgn-profm {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
}
.bgn-profm:hover {
    background-color: rgb(49, 49, 49);
    cursor: pointer;
}
.pit2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 15px 0px;
}
.imgd2 {
    width: 23px;
    height: 23px;
    margin-left: 20px;
}
.imgd2 img {
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
}
.textd2 {
    margin-left: 10px;
}
.textd2 h2 {
    font-size: 15px;
    color: white;
    margin: 0px;
    padding: 0px;
}

.profilemenus {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 8;
}
.profilemenusa {
    width: 70%;
    /* height: 80%; */
    /* height: 523px; */
    /* min-height: 80%; */
    max-height: auto;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 50px;
}
.top-profilemenus {
    border-bottom: 2px solid rgb(68, 68, 68);
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}
.kiri-top-profilemenus {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
}
.kanan-top-profilemenus {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: end;
}
.ximg {
    width: 20px;
    height: 20px;
    margin-right: 25px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}
.img-profilemenus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
}
.img-profilemenus img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 4px;
    scale: 1.3;
}
.text-profilemenus {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
}
.text-profilemenus h2 {
    font-size: 18px;
    color: white;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
}
.text-profilemenus h3 {
    font-size: 14px;
    color: rgb(207, 207, 207);
    margin: 0px;
    padding: 0px;
    margin-left: 7px;
}
.pick-profilemenus {
    height: 40px;
    border-bottom: 2px solid rgb(68, 68, 68);
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
}
.pickc-profilemenus, .pickc-profilemenus2 {
    width: auto;
    height: 100%;
    padding: 0px 30px;
    /* margin-right: 2px; */
    border-right: 2px solid rgb(68, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(49, 49, 49);
    cursor: pointer;
}
.pickc-profilemenus2 {
    background-color: rgb(102, 102, 102);
}
.pickc-profilemenus:hover {
    background-color: rgb(66, 66, 66);
    cursor: pointer;
}
.pickc-profilemenus h2, .pickc-profilemenus2 h2 {
    font-size: 18px;
    color: white;
    margin: 0px;
    padding: 0px;
}
.body-profilemenus {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.body-profilemenusa {
    width: 89%;
    height: auto;
}
.gpf {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gpcd {
    /* width: 50px;
    height: 50px; */
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 2px solid transparent;
    overflow: hidden;
}
.gpc {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 6px;
    scale: 1.4;
}
.gpcd:hover {
    border: 2px solid red;
}
.gpf2 {
    width: 100%;
    height: auto;
}
.namegpf {
    width: 60%;
    height: 25px;
    font-size: 20px;
    padding: 5px 10px;
    border: 0px;
    outline: 0px;
    background: transparent;
    border-bottom: 2px solid white;
    color: white;
}
.namegpf::placeholder {
    color: rgb(180, 180, 180);
}
.submitgpf {
    width: fit-content;
    height: fit-content;
    padding: 8px 15px;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
    border: 0px;
    outline: 0px;
    background-color: white;
}
.submitgpf:hover {
    background-color: rgb(240, 240, 240);
}
.cpma {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.closeallmenu {
    position: fixed;
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    z-index: 5;
}

.menubgr {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    top: 0;
    background-color: #dce0e6;
    z-index: 3;
}
.menubgr1 {
    animation: menubgrd 1s ease;
    left: 0vh;
}
.menubgr2 {
    animation: menubgrp 1s ease;
    left: 500vh;
}
@keyframes menubgrd {
    0%{
        left: 500vh;
    }
    100%{
        left: 0vh;
    }
}
@keyframes menubgrp {
    0%{
        left: 0vh;
    }
    100%{
        left: 500vh;
    }
}
.area-menubgr {
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.area2-menubgr {
    width: 93%;
    height: auto;
    /* background-color: red; */
    padding-top: 40px;
}
.link {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    cursor: pointer;
}
.linkp {
    width: 100%;
    height: 70px;
    background-color: #c2c2c2;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    cursor: pointer;
}
.link:hover {
    background-color: #f0f0f0;
    /* background-color: #b6b6b6; */
}
.link-area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: end;
}
.logo-link {
    width: fit-content;
    height: 100%;
    padding-left: 25px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.logo-link img {
    width: fit-content;
    height: 30px;
    margin-bottom: 1px;
}
.text-link {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    padding-left: 10px;
}
.text-link h2 {
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    /* margin-bottom: -3px; */
}
.nav3 {
    width: 100%;
    height: 8%;
    background-color: #ebeff5;
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 4;
}
.area-nav3 {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1%;
}
.area2-nav3 {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.replayi {
    width: fit-content;
    height: 100%;
    cursor: pointer;
}
.ri {
    width: fit-content;
    height: 75%;
}
.eplayi {
    width: fit-content;
    height: 50%;
}
.menui1 {
    width: fit-content;
    height: 75%;
    cursor: pointer;
    margin-top: -1%;
    animation: menuim 0.5s ease;
    opacity: 1;
}
.menui2 {
    width: fit-content;
    height: 75%;
    cursor: pointer;
    margin-top: -1%;
    animation: menuih 0.5s ease;
    opacity: 0;
}
.menuib {
    scale: 1;
}
.menuix {
    scale: 0.79;
}
@keyframes menuim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes menuih {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


@media screen and (max-width: 7000px) {
    .nav {
        width: 3%;
    }
    .nav2 {
        width: 10%;
    }
    .body {
        width: 97%;
        height: 100%;
    }
    .body2 {
        width: 90%;
        height: 100%;
    }
}
@media screen and (max-width: 2700px) {
    .nav {
        width: 5%;
    }
    .nav2 {
        width: 15%;
    }
    .body {
        width: 95%;
        height: 100%;
    }
    .body2 {
        width: 85%;
        height: 100%;
    }
}
@media screen and (max-width: 1500px) {
    .menubgr {
        display: none;
    }
    .nav {
        width: 6%;
    }
    .nav2 {
        width: 20%;
    }
    .body {
        width: 94%;
        height: 100%;
    }
    .body2 {
        width: 80%;
        height: 100%;
    }
}
@media screen and (max-width: 1140px) {
    .menubgr {
        display: flex;
    }
    .full {
        width: 100%;
        height: 100vh;
        display: block;
    }
    .nav {
        width: 0%;
        display: none;
    }
    .nav2 {
        width: 0%;
        display: none;
    }
    .nav3 {
        height: 8%;
        display: flex;
    }
    .body {
        width: 100%;
        height: 92%;
    }
    .body2 {
        width: 100%;
        height: 92%;
    }
    .top-body {
        display: none;
    }
    .area-top2-body {
        width: 95%;
    }
    .area-body-body {
        width: 95%;
    }
    .profm {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        scale: 1.2;
    }
    .notifmenu {
        width: 400px;
        height: 80vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0px;
        margin-right: 0px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 700px) {
    .gam {
        width: 90%;
        height: fit-content;
        object-fit: cover;
        border: 2px solid red;
    }
    .vid {
        width: 90%;
        height: auto;
    }
    .link {
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .linkp {
        width: 100%;
        height: 50px;
        background-color: #c2c2c2;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .logo-link img {
        width: fit-content;
        height: 20px;
        margin-bottom: 2px;
    }
    .text-link h2 {
        font-size: 20px;
    }
    .top2-body {
        padding: 20px 0px 0px 0px;
    }
    .wtk {
        padding: 30px 40px;
        border-radius: 20px;
        width: 100%;
    }
    .wti {
        width: 100%;
    }
    .area-child-link-top2-body2 h3 {
        font-size: 15px;
        color: #041e49;
    }
    .area-child-link-top2-body h3 {
        font-size: 15px;
        color: #0b57d0;
    }
    .child-link-top2-body {
        width: auto;
        padding: 0px 15px;
        height: 40px;
        margin-bottom: 5px;
    }
    .link-top2-body {
        margin-left: -10px;
        display: flex;
        flex-wrap: wrap;
    }
    .dataw-preview {
        width: 100%;
        height: 70px;
    }
    .dataw-preview h2 {
        font-size: 25px;
    }
    .dataw-edit input { 
        width: 100%;
        height: 30px;
        font-size: 15px;
    }
    .dataw-edit label { 
        font-size: 16px;
    }
    .dataw-edit labels {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .vids {
        width: 97%;
        padding: 2px 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .dataw-edit button { 
        padding: 8px 25px;
        font-size: 15px;
    }
    .kc_f_g {
        width: 100%;
    }
    .f_g {
        width: 100%;
        display: block;
        flex-wrap: nowrap;
    }
    .profm {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        scale: 1.1;
    }
    .gpcd {
        width: 70px;
        height: 70px;
    }
    .profilemenusa {
        width: 100%;
        scale: 0.8;
    }
}
@media screen and (max-width: 450px) {
    .asn {
        scale: 0.6;
    }
    .area2-nav3 {
        width: 90%;
    }
    .nav3 {
        height: 8%;
        display: flex;
    }
    .body {
        width: 100%;
        height: 92%;
    }
    .body2 {
        width: 100%;
        height: 92%;
    }
    .area-top2-body {
        width: 90%;
    }
    .area-body-body {
        width: 90%;
    }
    .kc_f_g {
        width: 100%;
    }
    .f_g {
        width: 100%;
        display: block;
        flex-wrap: nowrap;
    }
    .kc_ajsc_f_g {
        width: 90%;
    }
    .kc_jsc_f_g h2 {
        font-size: 23px;
        margin-top: 7px;
    }
    .kc_jsc_f_g h4 {
        font-size: 12px;
    }
    .kc_ic_f_g {
        width: 100%;
        height: 150px;
    }
    .kc_ic_f_g img {
        width: 70%;
        height: 80%;
    }
    .jdl-top2-body2 h1 {
        font-size: 32px;
    }
    .jdl-top2-body h1 {
        font-size: 32px;
    }
    .profm {
        top: 50%;
        left: 50%;
        transform: translate(-57%, -100%);
        scale: 0.9;
    }
    .notifmenu {
        width: 80%;
        height: 60vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0px;
        margin-right: 0px;
    }
    .gpcd {
        width: 60px;
        height: 60px;
    }
    .profilemenusa {
        width: 100%;
        scale: 0.8;
    }
    .pickc-profilemenus, .pickc-profilemenus2 {
        width: 50%;
        height: 100%;
        padding: 0px 30px;
    }
}


.n {
    display: none;
}